<h2>ABOUT US</h2><br>
<p>This wiki was created by:</p>
<p>Elia Orsini</p>
<p>Rokas LekeÄinskas</p>
<p>Farhan Emad</p>
<p>Mihail Beshkov</p>
<font size="4.5px"><b>We hope you are enjoying your time here! :)</b></font><br><br><br>
<img src="elia.jpg" alt="Elia" border="5" style="width:150px;height:150px;"> 
<img src="rokas.jpg" alt="Rokas" border="5" style="width:150px;height:150px;"> 
<img src="farhan.jpg" alt="Rokas" border="5" style="width:150px;height:150px;"> 
<img src="mihail.jpg" alt="Rokas" border="5" style="width:150px;height:150px;"> 
