

<p><b>Hello there!</b> How is it going?<p>
<p>Are you resting from a long journey or is the <font size="4.5px"><b>big adventure</b></font> still in front of you?<p> 
<p>Have you been around for <font size="4.5px"><b>decades</b></font> or is this your first day here?<p>
<p>Whoever you are, whatever your story is, we all have one thing in common: <font size="4.5px"><b>Aberdeen is our home!</b></font><p> 
<p>So go ahead, share your tale with the world and tell us all about your  <font size="4.5px"><b>favourite spot</b></font> in the city!<p> 

<p style="margin-left:590px;margin-top:30px;font-size:11px;">
	CHARACTERS:&nbsp;&nbsp;&nbsp;<b><%=@wordsCount%></b><br>
	WORDS:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><%=@charCount%></b>
</p>

<br><br><br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/5TxIHJRLzP0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p style="margin-left:495px;margin-top:0px;font-size:7px;">Here is a short video entirely filmed in Aberdeen</p>

