<!DOCTYPE html>
<html>
<head>
	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width=device-width">
	<meta name = "description" content="This is my new Wiki app"/>
	<meta name = "keywords" content="wiki, test app, blog"/>
	<link rel="stylesheet" href ="/style.css" type="text/css"/>
	<title>My Wiki application</title>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="javascript.js"></script>
</head>
<body>
	<h1 style="margin-top: 351px;width:100%;font-size: 60px;text-align: center; margin-left: 0px;color:white;">
		Granite City Stories
	</h1>
	<a id="relativelink" href="#redirect"><button id="homepageButton">
		GET STARTED,<br>
		<% if $credentials and $credentials[0] != ''%>
			&nbsp;<b><%=$credentials[0]%></b>
		<% else %>
			<b>USER</b>
		<% end %>
	</button></a>
	<!-----------------------------NAV-------------------------------------->
	<div class = "navbar">
				<a href = "/">Home</a>
				<a href = "/create">Create</a>
				<a href = "/about">About</a>
				<% if $credentials %>
					<% if $credentials[0] != '' %>
						<% if $credentials[0] == "Admin" %>
							<a href ="/admincontrols">Admin Controls</a>
						<% end %>
						<a href = "/logout">Logout</a>
					<% end %>
				<% else %>
					<a href = "/login">Login</a>
				<% end %>		
	</div>
	<!-----------------------------MAIN CONTAINER--------------------------->
	<div class ="main_container" style="margin-top: 400px;">
		<div id="redirect"></div>
					<!----------------COLUMN LEFT--------------------------->
		<div class="columnleft">
			<h2>PAGES LIST</h2>
			<input type="text" id="searchBar" placeholder="search">
			<ul id="pageList">
				<li>
					Shakes&Cakes
 					<%=$list.join("</li><li>")%>
 				</li>
			</ul>
		</div>
					<!----------------COLUMN RIGHT-------------------------->
		<div class="columnright">
		</div>
					<!---------------------HEADER--------------------------->
		<header>
			<br><br><br><br>
		</header>
		
						<!----------------CONTENT--------------------------->

		<div class="content">
			<%= yield %>
		</div>

						<!----------------FOOTER--------------------------->
		<footer>
			<p>Created by WAD Group S</p>
		</footer>
	</div>
</div>
</body>			
