<h2>LOGIN</h2><br><br>
<form action ="/login" method ="post">
	<input type="text" name="username" placeholder="username"><br>
	<hr style="border-color:#ffa4f9;width:200px;margin-left:0px;">
	<input type="password" name="password" placeholder="password"><br>
	<hr style="border-color:#ffa4f9;width:200px;margin-left:0px;">
	<input type="submit" value="Login">
</form>
<br><br><br>
Don't have an account?<br>
<a href ="/createaccount">Create one!</a>